.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appbar-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.print-header {
  display: -webkit-flex;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

ul li {
  flex-grow: 1;
}
h4 {
  margin: 0;
}

.head-space {
  margin-bottom: 60px;
}

.print-header-item-left {
  list-style: none;
  width: 300px;
  text-align: left;
  font-size:smaller;
}
.print-header-item-center {
  list-style: none;
  width: 300px;
  text-align: center;
  font-size:smaller;
}
.print-header-item-right {
  list-style: none;
  width: 300px;
  text-align: right;
  font-size:smaller;
}
.print-graph-number {
  font-size: small;
  text-decoration: underline;
  margin: 0;
}
.print-footer {
  font-size: small;
  margin-top: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media print {
  .ignore-print-area{
    display:none;
  }
  .print-header-footer{
    display: flexbox;
  }
  .print-block{
    size: A4 landscape;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .App-header {
    display: block !important;
  }
}

.page-break {
  page-break-before: always;
}

.appbar-form-item {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color:aliceblue; 
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(40, 40, 40);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
